<nav id="nav">

    <div class="nav-logo">
        <div class="nav-heading">
            <a href="index.html"><i class="fas fa-paw logo white"></i>
                <img width="200" src="public/images/1.png">
            </a>

        </div>
        <div class="hamburger">
            <a href="#"><i class="far fa-moon white "></i></a>
            <a href="#"><i class="fas fa-bars "></i></a>
        </div>
    </div>

    <ul class="nav-links">
        <li class="dropdown">
            <a href="#">Business Strategy</a>
            <div class="dropdown-content">
                <!-- Dropdown menu items here -->
                <a href="business-modeling.html">Business Modeling</a>
                <a href="start-up-pitch-deck-preparation.html">Start-up Pitch Deck Preparation</a>
                <a href="business-planning.html">Business Planning</a>
                <a href="business-process-mapping.html">Business Process Mapping</a>
                <a href="investor-tester-preparation.html">Investor Teaser Preparation</a>
                <a href="investor-teaser-preparation">Investor Teaser Preparation</a>
                <br>
                <a href="#">AUXILLIARY SUPPORT SERVICES</a>
                <hr>
                <a href="business-presentation-preparation.html">Business Presentation Preparation</a>
                
            </div>
        </li>
        <li>
            <a>Corporate Strategy</a>
            <div class="dropdown-content">
                <!-- Dropdown menu items here -->
                <a href="strategic-planning.html">Strategic Planning</a>
                <a href="strategic-review.html">Strategic Review</a>
                <a href="strategic-implementation-oversight.html">Strategic Implementation Oversight</a>
                <br>
                <a href="#">AUXILLIARY SUPPORT SERVICES</a>
                <hr>
                <a href="business-presentation-preparation.html">Business Presentation Preparation</a>
                
            </div>
        </li>
        <li>
            <a>Business Intelligence</a>
            <div class="dropdown-content">
                <!-- Dropdown menu items here -->
                <a href="competititor-benchmarking.html">competititor-benchmarking</a>
                <a href="regulatory-insighting.html">Regulatory Insighting</a>
                <a href="general-marketing-insights.html">General Marketing Insights</a>
            </div>
        </li>
        <li>
            <a href="#">Business Brokerage</a>
            <div class="dropdown-content">
                <!-- Dropdown menu items here -->
                <a href="business-listings.html">Buy A Business</a>
                <a href="#">Sell A Business</a>
            </div>
        </li>
        <li>
            <a>Franchising</a>
            <div class="dropdown-content">
                <!-- Dropdown menu items here -->
                <a href="become-a-franchisee.html">Become a Franchisee</a>
                <a href="franchise-your-business.html">Franchise your Business/a>
            </div>
        </li>
        <li><a>Media</a></li>
        <li><a>Careers</a></li>
        <span><i class="far fa-moon white night"></i></span>
    </ul>
</nav>